In [109]:
import re
import pandas as pd

In [110]:
csv_data = []
with open("nohup.out") as f:
    for line in f:
        data = []
        x = re.match("[\w\W]* - (\d+)s (\d+)[\w\W]*step - loss: (\w\W\w+) - acc: (\w\W\w+)", line)
        if x:
            for y in range(1, 2):
                data.append(x.group(y))
            csv_data.append(data)
# csv_data

In [111]:
df = pd.DataFrame(csv_data, columns = ['Time_Taken'])

In [112]:
df

   Time_Taken
0         527
1         523
2         523
3         523
4         523
5         523
6         523
7         522
8         523
9         525
10        528
11        529
12        528
13        528
14        527
15        527
16        528
17        528
18        528
19        528
20        528
21        528
22        528
23        528
24        528
25        527
26        526
27        525
28        525
29        528
30        528
31        528
32        528
33        528
34        528
35        528
36        528
37        528
38        527
39        526
40        525
41        526
42        525
43        527
44        527
45        527
46        527
47        526
48        526
49        526

In [113]:
df.to_csv("Time_taken_image.csv")